.advantages-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding: 74px 10px;
}.advantages-card{
    display: flex;
    max-width: 409px;
    height: auto;
    flex-direction: column;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
.advantages-card-title{
    font-size: 28px;
    text-transform: uppercase;
}
.advantages-card-text{
    font-size: 24px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .advantages-container{
        padding: 64px 10px;
    }
    .advantages-card{
        max-width: 352px;
        line-height: 28px;
        margin-left: 9px;
        margin-right: 9px;
    }
    .advantages-card-title{
        font-size: 24.5px;
    }
    .advantages-card-text{
        font-size: 21px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
    .advantages-container{
        padding: 42px 7px;
    }
    .advantages-card{
        max-width: 232px;
        line-height: 19px;
        margin-left: 8px;
        margin-right: 7px;
    }
    .advantages-card-title{
        font-size: 17px;
    }
    .advantages-card-text{
        font-size: 13px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 940px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 720px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 560px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 220px) {

}