.home-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../public/img/wave-banner.jpg');
    font-family: Proxima Nova;
}
.home-banner-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 908px;
    margin-bottom: 107px;
}
.home-banner-text-container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: auto;
    margin-left: 77px;
    font-weight: 900;
}
.home-banner-text1{
    font-size: 139px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
}
.home-banner-text2{
    font-size: 180px;
    text-align: left;
    margin-top: -40px;
    margin-left: 25px;
    color: #fff;
    text-transform: uppercase;
}
.home-banner-text3{
    font-size: 139px;
    text-align: left;
    margin-top: -40px;
    margin-left: 30px;
    color: #FCD900;
    text-transform: uppercase;
}
.home-banner-text4{
    font-size: 32px;
    margin-left: 30px;
    font-weight: 400;
    text-align: left;
    color: #fff;
}
.home-banner-buttons{
    display: flex;
    flex-direction: row;
    width: 569px;
    margin: auto;
    margin-bottom: 0;
    justify-content: space-between;
}
.button-banner{
    display: flex;
    width: 231px;
    height: 71px;
    background-color: #000;
    font-family: Proxima Nova;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    color: #F5C742;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}
.button-banner:hover{
    color: #000;
    background-color: #F5C742;
    
}
.bb-two:hover{
    border: 1px solid #000000;
}