.mobile-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../public/img/shutterstock5.jpg');
}
.mobile-banner-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 749px;
    margin-bottom: 107px;
}
.mobile-banner-text-container{
    display: flex;
    flex-direction: column;
    max-width: 1097px;
    height: auto;
    margin-left: 77px;
    font-weight: 900;
}
.customers-needs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    color: #ffffff;
}
.needs-col-photos{
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 122px;
    
}
.needs-col-photos img{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 87px;
}
.needs-col-text{
    max-width: 710px;
    height: auto;
    font-family: Proxima Nova;
    font-size: 26px;
    font-weight: 900;
    line-height: 38px;
    margin-top: 188px;
}
.needs-col-text label{
    color: #F5C742;
}
.designteam-photo{
    display: flex;
    width: 100%;
    height: auto;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .mobile-banner-row{
        margin-top: 655px;
        margin-bottom: 95px;
    }
    .mobile-banner-text-container{
        max-width: 960px;
        margin-left: 68px;
    }
    .needs-col-photos{
        max-width: 650px;
        margin-top: 122px;
    }
    .needs-col-photos img{
        margin-bottom: 76px;
    }
    .needs-col-text{
        max-width: 621px;
        font-size: 23px;
        line-height: 34px;
        margin-top: 164px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 940px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 720px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 560px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 220px) {

}
