.tech-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../public/img/shutterstock10.jpg');
}
.tech-banner-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 749px;
    margin-bottom: 107px;
}
.tech-banner-text-container{
    display: flex;
    flex-direction: column;
    max-width: 927px;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 900;
}
.tech-banner-text1{
    display: flex;
    font-family: Proxima Nova;
    font-size: 177px;
    font-weight: 900;
    text-align: left;
    color: #fff;
    line-height: 148px;
    text-transform: uppercase;
}
.tech-banner-text2{
    display: flex;
    max-width: 927px;
    height: auto;
    font-family: Proxima Nova;
    font-size: 39px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 38px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #fff;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .tech-banner-row{
        margin-top: 625px;
        margin-bottom: 95px;
    }
    .tech-banner-text-container{
        max-width: 812px;
        margin-left: 12%;
        margin-right: 12%;
    }
    .tech-banner-text1{
        font-size: 155px;
        line-height: 130px;
    }
    .tech-banner-text2{
        max-width: 812px;
        font-size: 32px;
        margin-left: 9px;
        margin-top: 18px;
        line-height: 33px;
        letter-spacing: 1.2px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
    .tech-banner-row{
        margin-top: 525px;
        margin-bottom: 75px;
    }
    .tech-banner-text-container{
        margin-left: 8%;
        margin-right: 10%;
    }
    .tech-banner-text1{
        font-size: 125px;
        line-height: 110px;
    }
    .tech-banner-text2{
        max-width: 812px;
        font-size: 30px;
        margin-left: 9px;
        margin-top: 10px;
        line-height: 29px;
        letter-spacing: 1.2px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 940px) {
    .tech-banner{
        background-attachment: inherit;
    }
    .tech-banner-row{
        margin-top: 445px;
        margin-bottom: 75px;
    }
    .tech-banner-text-container{
        margin-left: 6%;
        margin-right: 8%;
    }
    .tech-banner-text1{
        font-size: 90px;
        line-height: 82px;
    }
    .tech-banner-text2{
        font-size: 26px;
        margin-left: 9px;
        margin-top: 10px;
        line-height: 26px;
        letter-spacing: 0.8px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 720px) {
    .tech-banner-row{
        margin-top: 405px;
        margin-bottom: 60px;
    }
    .tech-banner-text-container{
        margin-left: 6%;
        margin-right: 8%;
    }
    .tech-banner-text1{
        font-size: 78px;
        line-height:66px;
    }
    .tech-banner-text2{
        font-size: 24px;
        margin-left: 9px;
        margin-top: 10px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 560px) {
    .tech-banner{
        background-position: 40%;
    }
    .tech-banner-row{
        margin-top: 405px;
        margin-bottom: 60px;
    }
    .tech-banner-text-container{
        margin-left: 6%;
        margin-right: 8%;
    }
    .tech-banner-text1{
        font-size: 54px;
        line-height:45px;
    }
    .tech-banner-text2{
        font-size: 24px;
        margin-left: 9px;
        margin-top: 10px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {
    .tech-banner{
        background-position: 40%;
    }
    .tech-banner-row{
        margin-top: 375px;
        margin-bottom: 40px;
    }
    .tech-banner-text-container{
        margin-left: 6%;
        margin-right: 8%;
    }
    .tech-banner-text1{
        font-size: 40px;
        line-height:36px;
    }
    .tech-banner-text2{
        font-size: 21px;
        margin-left: 9px;
        margin-top: 10px;
        line-height: 19px;
        letter-spacing: 0.5px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 220px) {

}