.end-home-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-image: url('../public/img/surfers.jpg');
}
.end-home-banner-row{
    display: flex;
    max-width: 1548px;
    flex-direction: column;
    margin-top: 769px;
    margin-left: 85px;
    margin-bottom: 40px;
}
.end-home-banner-text1{
    font-size: 148px;
    font-family: Proxima Nova;
    font-weight: 900;
    text-align: left;
    line-height: 120px;
    color: #fff;
    text-transform: uppercase;
}
.end-home-banner-text1 label{
    color: #F5C742;
}
.end-home-banner-text-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: 20px;
}
.end-home-banner-text2{
    max-width: 1180px;
    font-size: 32px;
    font-family: Proxima Nova;
    font-weight: 400;
    line-height: 34px;
    color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .end-home-banner-row{
        max-width: 1378px;
        margin-top: 672px;
        margin-left: 74px;
        margin-bottom: 35px;
    }
    .end-home-banner-text1{
        font-size: 128px;
    }
    .end-home-banner-text-container2{
        margin-top: 4px;
        margin-left: 18px;
    }
    .end-home-banner-text2{
        max-width: 1032px;
        font-size: 28px;
        line-height: 29px;
    }
}

@media screen and (max-width: 1280px) {
    .end-home-banner-row{
        margin-top: 348px;
        margin-left: 28px;
        margin-bottom: 23px;
    }
    .end-home-banner-text1{
        font-size: 85px;
        line-height: 68px;
    }
    .end-home-banner-text-container2{
        margin-top: 4px;
        margin-left: 18px;
    }
    .end-home-banner-text2{
        max-width: 722px;
        font-size: 19px;
        line-height: 19px;
    }
}

@media screen and (max-width: 940px) {

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 220px) {

}