@font-face {
  font-family: Proxima Nova;
  src: url(../public/fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Proxima Nova;
  src: url(../public/fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Proxima Nova;
  src: url(../public/fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova';
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul{
  margin: 0;
  padding: 0;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.layout-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.layout-contain{
  margin: auto;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.right{
  transform: translateX(-400%);
  transition: transform 0.4s ease;
}
.right:nth-of-type(even){
  transform: translateX(400%);
}

.right.show{
  transform: translateX(0);
}
