.nearshore-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 60px;
}
.nearshore-row{
    display: flex;
    flex-direction: row;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 148px;
    line-height: 129px;
    margin-top: 143px;
    margin-left: 62px;
}
.nearshore-row label{
    color: #F5C742;
}
.nearshore-col{
    max-width: 634px;
    height: auto;
    margin-right: 80px;
    margin-left: 24px;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
}
.some-benefits{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #F5C742;
    padding: 0px 10px;
}
.some-benefits-text{
    height: auto;
    margin: 67px auto;
    font-family: Proxima Nova;
    font-size: 39px;
    font-weight: 900;
    line-height: 38px;
    text-align: center;
}
.devgirl-photo{
    display: flex;
    width: 100%;
    height: auto;
}
.bilingual-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #F5C742;
    align-items: center;
    justify-content: space-evenly;
    padding: 107px 0px 69px 0px ;
}
.bilingual-title{
    max-width: 1400px;
    height: auto;
    font-family: Proxima Nova;
    font-size: 148px;
    font-weight: 900;
    margin-bottom: 60px;
}
.bilingual-title label{
    color: #ffffff;
}
.bilingual-text{
    display: flex;
    max-width: 529px;
    height: auto;
    font-family: Proxima Nova;
    font-size: 26px;
    font-weight: 900;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .nearshore-container{
        padding-bottom: 52px;
    }
    .nearshore-row{
        font-size: 130px;
        line-height: 113px;
        margin-top: 96px;
        margin-left: 54px;
    }
    .nearshore-col{
        max-width: 564px;
        margin-right: 70px;
        margin-left: 21px;
        font-size: 23px;
        line-height: 33px;
    }
    .some-benefits{
        padding: 0px 8px;
    }
    .some-benefits-text{
        margin: 58px auto;
        font-size: 34px;
        line-height: 33px;
    }
    .bilingual-container{
        padding: 72px 0px 42px 0px ;
    }
    .bilingual-title{
        max-width: 1225px;
        font-size: 118px;
        margin-bottom: 53px;
        margin-left: 16px;
    }
    .bilingual-text{
        max-width: 440px;
        font-size: 23px;
        margin-right: 16px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 940px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 720px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 560px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 220px) {

}