.software-support-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
    background-color: #000000;
    padding-top: 157px;
    padding-bottom: 157px;
    padding-inline-end: 200px;
}
.software-support-row{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-left: 148px;
}
.software-support-title{
    display: flex;
    flex-direction: row;
    max-width: 1649px;
    height: auto;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 148px;
    margin-bottom: 35px;
    color: #fff;
}
.software-support-title label{
    color: #F5C742;
}
.software-support-text{
    display: flex;
    max-width: 622px;
    height: auto;
    color: #ffffff;
    font-family: Proxima Nova;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -0.65px;
    line-height: 38px;
}
.software-support-laptop{
    display: flex;
    flex-direction: row;
    width: 962px;
    min-width: 500px;
    height: auto;
    margin-top: 246px;
    align-items: center;
}
.software-support-laptop img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.get-visually{
    max-width: 1285px;
    height: auto;
    margin: 56px auto;
    font-family: Proxima Nova;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}
.software-grid{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #F5C742;
}
.image-grid{
    display: flex;
    width: 1629px;
    margin: auto;
}
.image-grid img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .software-support-container{
        padding-top: 138px;
        padding-bottom: 138px;
        padding-inline-end: 175px;
    }
    .software-support-row{
        margin-left: 130px;
    }
    .software-support-title{
        max-width: 1442px;
        font-size: 130px;
        margin-bottom: 32px;
    }
    .software-support-text{
        max-width: 544px;
        font-size: 23px;
        letter-spacing: 0px;
        line-height: 34px;
    }
    .software-support-laptop{
        width: 842px;
        min-width: 437px;
        margin-top: 215px;
    }
    .get-visually{
        max-width: 1124px;
        margin: 49px auto;
        font-size: 28px;
        line-height: 30px;
    }
    .image-grid{
        width: 1429px;
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1280px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 940px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 720px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 560px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 380px) {

}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 220px) {

}