.web-design-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    color: #000000;
}
.web-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #F5C742;
}
.web-col{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 53px 0px 96px 177px;
}
.web-title{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    font-family: Proxima Nova;
    font-size: 140px;
    font-weight: 900;
    color: #000000;
}
.web-text{
    max-width: 685px;
    height: auto;
    font-family: Proxima Nova;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-top: 33px;
    z-index: 3;
}
.web-photo-container{
    display: flex;
    width: 50%;
    margin-top: 120px;
    float: right;
    align-items: flex-end;
}
.web-photo{
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}
.developer-photo{
    width: 181%;
    height: auto;
    margin-left: -180px;
}
.appointment{
    display: flex;
    width: 100%;
    height: auto;
    color: #F5C742;
    background-color: #000000;
    padding: 0px 10px;
}
.appointment-text{
    max-width: 680px;
    height: auto;
    margin: 58px auto;
    font-family: Proxima Nova;
    font-size: 46px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
}
.devguy1-photo{
    display: flex;
    width: 100%;
    height: auto;
}