.who-we-are{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #F5C742;
}
.wwa-photo{
    display: flex;
    width: 55%;
    height: 668px;
    object-fit: contain;
    background-size: cover;
    float: left;
    background-image: url('../public//img/shutterstock11.jpg');
}
.wwa-info{
    display: flex;
    width: 45%;
    flex-direction: column;
    float: right;
    padding-top: 37px;
    padding-left: 57px;
}
.wwa-title{
    max-width:543px ;
    height: auto;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 148px;
    text-align: left;
    letter-spacing: 0px;
}
.wwa-text{
    max-width: 765px;
    height: auto;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0px;
    text-align: left;
}