.who-we-are{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #F5C742;
}
.wwa-photo{
    display: flex;
    width: 55%;
    float: left;
    align-items: center;
}
.wwa-photo img{
    display: flex;
    width: 100%;
    height: auto;
}
.wwa-info{
    display: flex;
    width: 45%;
    flex-direction: column;
    float: right;
    padding: 37px 57px;
}
.wwa-title{
    max-width:543px ;
    height: auto;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 148px;
    text-align: left;
    letter-spacing: 0px;
}
.wwa-text{
    max-width: 765px;
    height: auto;
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.features-photo{
    display: flex;
    flex-direction: row;
    width: 175px;
    height: 175px;
    object-fit: contain;
    background-size: cover;
    margin: 0px auto;
}
.digital{
    background-image: url('../public/img/digital-icon-gray.png');
}
.multiplatform{
    background-image: url('../public/img/multiplatform-gray.png');
}
.business{
    background-image: url('../public/img/business-icon-gray.png');
}
.features-card{
    display: flex;
    max-width: 490px;
    height: auto;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #636363;
}
.features-card:hover{
    transform: scale(1.05);
    color: #000000;
}
.features-card:hover .digital{
    background-image: url('../public/img/digital-icon-black.png');
}
.features-card:hover .multiplatform{
    background-image: url('../public/img/multiplatform-black.png');
}
.features-card:hover .business{
    background-image: url('../public/img/business-icon-black.png');
}
.features-card-title{
    font-family: Proxima Nova;
    font-weight: 900;
    font-size: 33px;
    line-height: 39px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 37px;
}
.features-card-text{
    font-family: Proxima Nova;
    font-size: 26px;
    font-weight: 900;
    line-height: 28px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1660px) {
    .wwa-info{
        padding: 33px 50px;
    }
    .wwa-title{
        max-width:470px ;
        font-size: 122px;
    }
    .wwa-text{
        max-width: 665px;
        font-size: 24.5px;
    }
    .features-photo{
        width: 152px;
        height: 152px;
    }
    .features-card{
        max-width: 428px;
        margin-left: 8.5px;
        margin-right: 8.5px;
    }
    .features-card-title{
        font-size: 29px;
        line-height: 34px;
        margin-top: 32.5px;
    }
    .features-card-text{
        font-size: 22.75px;
        line-height: 24.5px;
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 940px) {

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 380px) {

}

@media screen and (max-width: 220px) {

}